.go{
    animation-play-state: running !important;
}

.move-from-right-shift,
.move-from-left-shift,
.smooth-appearance,
.roll-180,
.roll-360,
.from-collapse-to-auto-size,
.roll-15-left{
    animation-play-state: paused;
    animation-duration: 1s;
}
.move-from-left-shift,
.move-from-right-shift{
    position: relative;
}
.move-from-left-shift{animation-name: move-from-left-shift;}
@keyframes move-from-left-shift {
    from{
        left: -200%;
    }
    to{
        left: 0;
    }
}
.move-from-right-shift{ animation-name: move-from-right-shift;}
@keyframes move-from-right-shift {
    from{
        right: -200%;
    }
    to{
        right: 0;
    }
}
.smooth-appearance{animation-name: smooth-appearance;}
@keyframes smooth-appearance {
    0%{
        opacity: 0;
    }
    75%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
.roll-180{ animation-name: roll-180;}
@keyframes roll-180 {
    from{transform: rotate(180deg);}
    to{transform: rotate(360deg);}
}
.roll-360{ animation-name: roll-360;}
@keyframes roll-360 {
    from{}
    to{ transform: rotate(360deg); }
}
.from-collapse-to-auto-size{animation-name: from-collapse-to-auto-size;}
@keyframes from-collapse-to-auto-size {
    from{
        max-width: 0;
        max-height: 0;
    }
    to{
        max-width: 100%;
        max-height: 100%;
    }
}
.roll-15-left.go{
    transition: 1s;
    transform: rotate(-15deg);
}