body{
    background-color: #fff6ed;
    font-size: 20px;
}
h1{
    font-size: 4rem !important;
}
.clearfix{
    content:'';
    clear:both;
    display:table;
}
body .header{
    font-family: 'Georgia',serif;
    color: #262523;
    text-align: left;
}
.main-header{
    padding-top: 150px;
}
.main-header > .container-fluid > .header{
    margin-bottom: 200px;
}
body .topic{
    color: #262523;
    font-family: 'Ubuntu',Arial,sans-serif;
}

@media(min-width: 400px) {
    .header{
        width: 60%;
        margin-bottom: 50px;
    }
    .set-horizontal-padding{
        padding-left: 15%;
        padding-right: 15%;
    }
    h1{
        margin-bottom: 100px;
    }
    ul li{
        margin-bottom: 1.1em;
    }
}
.topic{
    margin-bottom: 100px;
}
.topic-1 .content{
    padding: 0 50px;
}
.topic-1 .item:first-child{
    padding-right: 5%;   
}
.topic-1 .item:last-child{
    border-left: 5px solid #262523;
    padding-top: 5%;
    padding-left: 10%;
}
.topic-2 img{
    width: 40%;
    min-width: 300px;
    float: left;
    padding-right: 20px;
}
.topic-2 ul{
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 3px dashed #262523;
}