body{
    background-color: #fff6ed;
    font-size: 20px;
}
h1{
    font-size: 4rem !important;
}
ul{
    margin-top: 50px;
    margin-bottom: 50px;
}
ul li{
    margin-bottom: 1.1rem;
}
.clearfix{
    content:'';
    clear:both;
    display:table;
}
body .header{
    font-family: 'Georgia',serif;
    color: #262523;
    text-align: left;
}
.main-header{
    padding-top: 150px;
}
.main-header > .container-fluid > .header{
    margin-bottom: 200px;
}
body{
    color: #262523;
    font-family: 'Ubuntu',Arial,sans-serif;
}

@media(min-width: 800px) {
    .header{
        width: 60%;
        margin-bottom: 50px;
    }
    .set-horizontal-padding{
        padding-left: 15%;
        padding-right: 15%;
    }
    h1{
        margin-bottom: 100px;
    }
}
.topic{
    margin-bottom: 100px;
    border-bottom: 3px dashed #f4ddde;
}
.topic-1 .item:first-child p{
    border-right: 4px solid #262523;
    padding-right: 10%; 
}
.topic-1 .item:last-child{
    
    padding-left: 5%;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.topic-1 .item:last-child p{
    margin-top: 10%;
}
.image-left-float{
    width: 40%;
    min-width: 300px;
    float: left;
    padding-right: 20px;
}
.topic-3 ul{
    list-style-position: inside;
    clear:both;
    display: inline-block;
}
.footnote{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2b3040;
    color: #ebe3dc;
    border: none;
    font-size: 2rem !important;
}
/* topic-4 надо адаптировать под ширину менее 1920px */
.topic-4 img{
    width: 40%;
    min-width: 300px;
}
.topic-4 .top-block .img-1{
    margin-top: -5%;
    transform: rotate(-15deg);
    vertical-align: top;
    float: right;
    margin-left: 10%;
}
.topic-4 .bottom-block .img-2{
    float: left;
    vertical-align: top;
    margin-top: -5%;
    margin-left: -8%;
    margin-right: -4%;
}
.topic-4 .bottom-block .item-text-1{
    margin-right: 28%;
    margin-top: -7%;
    margin-bottom: 5%;
}
.topic-4 .bottom-block .item-text-2{
    padding-left: 35%;
    padding-right: 5%;
}
.topic-4 .bottom-block .item-footnote{
    clear: both;
    width: 35%;
}

.topic-5 .header{
    margin-bottom: 1rem;
}
.topic-5 .item{
    margin: 0 20%;
    padding: 5px;
    border: 3px solid #fff6ed;
    height: 100%;
}
.topic-5 .col-md-4:first-child .item{
    margin-left: 0;
}
.topic-5 .col-md-4:last-child .item{
    margin-right: 0;
}
.topic-5 .col-md-4:nth-child(2) .item{
    margin: 0 10%;
}
.topic-5 .item:hover{
    border-color: black;
}
.topic-6 img{
    float: right;
    width: 40%;
    position: relative;
    margin-top: -100px;
}
.topic-6 ul{
    padding-left: 50px;
    list-style: square;
}
.topic-7 .header {
    margin-bottom: 5%;
}
.topic-7 .header p{
    padding-left: 1rem;
}
.topic-7 .hidden{
    opacity: 0;
    text-align: left;
    background-color: #2b3040;
    position: absolute;
    top: -50%;
    vertical-align: top;
    color: #fff6ed;
    padding: 10px;
}
.topic-7 td:hover .hidden{
    opacity: 1;
    transition: 0.3s;
}
.topic-7 table td{
    vertical-align: top;
    width: 20%;
    text-align: center;
    position: relative;
}
.topic-7 table {
    margin-bottom: 200px;
}
.topic-8 .content{
    min-height: 600px;
}
.topic-8 table{
    width: 100%;
}
.topic-8 td{
    padding: 10px 0;
    border-collapse: collapse;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.topic-8 td p::after{
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background: url("../img/2555167_arrow_forwar.png") no-repeat 0 0;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 3%;
}
.topic-8 td p:hover::after{
    transition: 0.3s;
    left: 5%;
}
.topic-8 td p{
    margin: 0;
}
.topic-8 .hidden{
    opacity: 0;
    display: none;
    vertical-align: middle;
    margin-top: -10%;
    color: #fff6ed;
    background-color: #2b3040;
    padding: 4rem 2rem;
}
.topic-9 .header{
    margin-bottom: 20px;
}
.topic-9 img{
    float: left;
    margin-right: 10%;
}
.topic-9 p{
    padding-top: 5%;
}
.drag-task table{
    border-collapse: collapse;
    border: solid black 2px;
    border-radius: 10px;
    width: 100%;
    display: block;
    background-color: white;
}
.drag-task table td{
    padding: 1rem 2rem;
}
.drag-task table tr{
    border-bottom: 2px solid black;
}
.drag-task table tr:last-child{
    border-bottom: none;
}
.drag-task tr td:nth-child(2){
    border-left: 2px solid black;
}
.drag-task table td:nth-child(2){
    width: 70%;
}
.drag-task .answer{
    margin: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    box-shadow: 0px 2px 8px 0px black;
}
.drag-task button{
    margin-top: 2rem;
    border-radius: 10px;
    border: 3px solid #adadad;
    padding: 5px 10px;
}